@charset "utf-8";

/*background-image*/
/*html{*/
/*    background: url('public/images/BG.jpg');*/
/*}*/

@import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
div.foo{
  width: 100%;
  margin-right: auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 8em;
  margin: 0.2em;
  position: relative;
  color: black;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

body {
    /*background: #f2f2f2;*/
   background-image: url("/images/tower.jpg");
   
    /* 画像を常6に天地左右の中央に配置 */
    background-position: center center;
   
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
   
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
   
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
   
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    /*background-color:#FFFFEE*/
}

.transparent {
height: 210%;
  background: rgba(255,255,255,0.5);

}


/*microposts*/

.micropost{
    /*padding: 0.5em 1em;*/
    /*margin: 2em 0;*/
    /*font-weight: bold;*/
    /*color: #6091d3;*/
    /*background: #FFF;*/
    /*border: solid 3px #6091d3;*/
 /*   border-radius: 10px;*/
    
 /*   padding: 0.5em 1em;*/
 /*   margin: 2em 0;*/
	/*background-color: rgba(255,255,255,0.9);*/
	/*border: 3px solid rgba(0,0,0,0.3);*/
 /*   height:150px;*/
 /*   margin-top: 10px;*/
    
    /*margin:2em 0;*/
    /*position: relative;*/
    /*padding: 0.5em 1.5em;*/
    /*border-top: solid 2px black;*/
    /*border-bottom: solid 2px black;*/
    
    
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    
    
    
}

.micropost .bb{
    font-size: 15px;
}


.micropost .aa .content{
     font-size: 35px;
     font-weight: bolder;
      color: #DC143C;
text-shadow:0 2px 1px rgba(255, 255, 255, 0.5);
word-wrap: normal;

}

/*.micropost .aa .content {*/
/*  color:#44c0fe;*/
/*  text-shadow:0 -1px 0 rgba(255,255,255,0.6),0 1px 1px rgba(0,0,0,0.5);*/
/*  font-size: 45px;*/
/*}*/
/*.micropost .aa .content:before {*/
/*  color:#0036b4;*/
/*  -webkit-mask-image:-webkit-linear-gradient(-85deg, rgba(0,0,0,0), rgba(0,0,0,0) 40%, rgba(0,0,0,1) 80%, rgba(0,0,0,1));*/
/*}*/
/*.micropost .aa .content:after {*/
/*  color:#d7edff;*/
/*  -webkit-mask-image:-webkit-linear-gradient(-85deg, rgba(0,0,0,1), rgba(0,0,0,1) 10%, rgba(0,0,0,0.25) 48%, rgba(0,0,0,0) 48%, rgba(0,0,0,0));*/
/*}*/

.micropost .aa .date{
    font-size: 20px;
    color: black;
    opacity: 0.5;
}

.post{
    /*padding: 0.5em 1em;*/
    /*margin: 2em 0;*/
    /*font-weight: bold;*/
    /*color: #6091d3;*/
    /*background: #FFF;*/
    /*border: solid 3px #6091d3;*/
    /*border-radius: 10px;*/
    
   width:750px;
   margin:auto;
   
   
}

/*comment*/

.comment{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: #EEEEEE;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}


.button {
    
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 0 30px;
    font-size: 19px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background: #51587b;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: .4s;
    
}


.top {
margin-top: 100px;
text-align: center;
font-family: 'Montserrat Subrayada', sans-serif;
font-size: 100px;
    animation: pyon 1.0s linear;
    position: relative;
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}


.row1 {
    
    -moz-background-clip: padding ;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	background-color: rgba(255,255,255,0.9);  /* 背景の設定 */
	border: 3px solid rgba(0,0,0,0.3);  /* ボーダーの設定 */
    height:400px;
    width: 500px;
    margin-left: 325px;
    
}


.row2 {
    
    -moz-background-clip: padding ;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	background-color: rgba(255,255,255,0.9);  /* 背景の設定 */
	border: 3px solid rgba(0,0,0,0.3);  /* ボーダーの設定 */
    height:270px;
    width: 500px;
    margin-left: 325px;
    
}

.editbody {
text-align: center
    
}                   

.microbtn {
    margin-left:100px;
    margin-top:40px;
}

.signup {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
}

.login {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
}


.container {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-align: center;
}

.yumabtn {
  
  border: 2px solid #333;
  color: white;
  background-color: white;
  line-height: 50px;
  margin:auto;
  width:200px;
  
}

yumabtn:link { color: #0000ff; }
yumabtn:visited { color: #000080; }
yumabtn:hover { color: #ff0000; }
yumabtn:active { color: #ff8000; }


.yumabtn:hover {
  background-color: #fff;
  border-color: black;
  color: black;
}


.yumabtn2 {
  
  border: 1px solid #333;
  color: #fff;
  line-height: 26px;
  margin:auto;
  width:200px;
  float: left;

}
  .yumabtn2Container {
	overflow: hidden;
}

/* clearfix */
.yumabtn2Container:before,
.yumabtn2Container:after {
    content: "";
    display: table;
}
 
.yumabtn2Container:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.yumabtn2Container {
    zoom: 1;
}

.yumabtn2:hover {
  background-color: #fff;
  border-color: black;
  color: black;
}


.bet {
  font-family: 'Vollkorn', serif;
  font-size: 80px;
  color:#755d41;
  text-shadow:0 2px 0 #755d41,0 2px 1px rgba(0,0,0,0.8);
  margin-top: -40px;
}
.bet:before {
  color:#b6a57a;
  -webkit-mask-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1) 40%, rgba(0,0,0,0) 90%, rgba(0,0,0,0));
}
.bet:after {
  color:#fff;
  -webkit-mask-image:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0) 20%, rgba(0,0,0,0.2) 36%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.2) 44%, rgba(0,0,0,0) 60%, rgba(0,0,0,0));
}

.anata{
    text-align: center;
    
     
  border: 2px solid #333;
  color: white;
  background-color: white;
  line-height: 50px;
  margin:auto;
  width:200px;
  
    
    
}